<div class="row header">
    <div class="col s12" id="header-content">
        {% if user.profile_pic %}
        <img class="profile-pic" src="{{ MEDIA_URL }}{{ user.profile_pic }}" height='50' width='50'/>
        {% endif %}
        <p>Welcome {{ user.username }},</p> 
        <a href="{% url 'myquestions' %}" class="btn waves-effect waves-light right">My Questions</a>
        <a href="{% url 'create_question' %}" class="btn waves-effect waves-light right">Ask Questions</a>
        <a href="{% url 'logout' %}" class="btn waves-effect waves-light right">Logout</a>
    </div>
</div>
