{% extends 'base/base.html' %}
{% load material_form %}
{% load staticfiles %}
{% block pagetitle %} MyQuora | Home {% endblock %}
{% block extrahead %}
<link href="{% static 'base/css/home.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% include 'base/header.html' %}

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card-panel">
            <input type="text" id="search" placeholder="Search Question"/>
            <ul class="collection with-header">
                <li class="collection-header">Type something on top</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block morescripts %}
<script src="{% static 'base/js/qsearch.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        QSearch.init('search');
    });
</script>
{% endblock %}
